<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    package="ni.org.ics.estudios.appmovil"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
                     tools:ignore="ScopedStorage"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true" />

    <application
        android:allowBackup="false"
        android:name=".MyIcsApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:theme="@style/AppTheme">
        <activity
            android:name="ni.org.ics.estudios.appmovil.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="ni.org.ics.estudios.appmovil.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:name="ni.org.ics.estudios.appmovil.MainActivity" 
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.bluetooth.activity.ChatActivity" 
            android:screenOrientation="portrait" />
        <activity
            android:name="ni.org.ics.estudios.appmovil.bluetooth.activity.DeviceListActivity"
            android:screenOrientation="portrait"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Holo.Dialog"/>
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.MenuCohorteFamiliaActivity" 
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.BuscarCasaActivity" 
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.BuscarParticipanteActivity" 
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.BuscarCasaCHFActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.MenuCasaActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.MenuCasaCasoActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.MenuParticipanteActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.MenuParticipanteCasoActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.ListaParticipantesActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.ListaParticipantesCasaActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.ListaCuartosActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.ListaTelefonosActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.ListaAreasActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.ListaCamasActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.ListaPersonasCamaActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.ListaVentanasActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.ListaBaniosActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.ListaMuestrasActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.ListaCasasCasosActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.ListaParticipantesCasosActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.ListaVisitasParticipantesCasosActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.ListaVisitasFallidasCasosActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.ListaVisitaFinalCasosActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.MenuVisitaFinalCasoActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevaVisitaFinalActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevaVisitaSeguimientoActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevaVisitaFallidaActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevaVisitaFallidaCasaActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.ListaSintomasParticipantesCasosActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevaVisitaSeguimientoSintomasActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.ListaContactosParticipantesCasosActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevoFormularioContactoCasoActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.ListaMuestrasParticipantesCasosActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.MenuVisitaSeguimientoCasoActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevoTamizajeCasaActivity" 
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevoTamizajePersonaActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevaEncuestaCasaActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevaEncuestaDatosPartoBBActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevaEncuestaParticipanteActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevaEncuestaPesoTallaActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevaEncuestaLactanciaMatActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevaMuestraTuboRojoActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevaMuestraBHCPaxgeneActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevaMuestraTuboPbmcActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevaMuestraRespActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevoCuartoActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevoTelefonoContactoActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevaAreaActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevaVentanaActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevoBanioActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevaCamaActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevaPersonaCamaActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.editdata.EditarPersonaCamaActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.seroprevalencia.activities.NuevaEncuestaCasaSAActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.seroprevalencia.activities.NuevaEncuestaParticipanteSAActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevaRecepcionMuestraBHCActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevaRecepcionMuestraRojoActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.editdata.EditarCuartoActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.editdata.EditarCamaActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.editdata.EditarVentanaActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.editdata.EditarBanioActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.editdata.EditarAreaActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.editdata.EditarTelefonoContactoActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.editdata.EditarEncuestaCasaActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.seroprevalencia.activities.editdata.EditarEncuestaCasaSAActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.editdata.EditarEncuestaPesoTallaActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.editdata.EditarEncuestaDatosPartoBBActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.editdata.EditarEncuestaLactanciaMatActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.seroprevalencia.activities.editdata.EditarEncuestaParticipanteSAActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.editdata.EditarEncuestaParticipanteActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.server.UploadAllActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.server.UploadTamizajesActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.server.DownloadAllActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.server.DownloadNewActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.server.DownloadChfActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.server.DownloadChfEncuestasActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.server.DownloadSeroActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.server.DownloadCasosGeneralActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.server.DownloadCasosGeneral2Activity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.server.DownloadCasosActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.server.DownloadCatalogosActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.activities.DataEnterActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.preferences.PreferencesActivity"
            android:screenOrientation="portrait" />
        <!-- Muestreo anual-->
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.DocumentosActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.DownloadAllActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.DownloadParticipanteActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.DownloadUsersActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.DownloadBaseActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.DownloadProcessesActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.ListBHCsActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.ListRojosActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.ListTempPbmcActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.ListTempRojoBhcActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.ListPinchazosActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.ListReviewActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.ListParticipantesCasaActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.ListPhonesActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.MenuMuestreoAnualActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.MenuInfoActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.MenuReviewActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.MenuSupervisorActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.PinchazoActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.RazonNoDataActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.RecepcionBhcActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.RecepcionSeroActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.ReviewActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.SelecPartActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.SelecPartRecepcionActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.TempPbmcActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.TempRojoActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.UploadAllActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.UploadDocsActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.NewEsActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.NewEcActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.NewSampleActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.NewPtActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.NewObActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.NewEpActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.NewElActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.NewVisitaActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.NewDatosPartoBBActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.NewNewVaccActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.NewDatosVisitaActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.NewTamizajeActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.seroprevalencia.activities.NuevoConsentimientoSAActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.NewReconDengue2018Activity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.muestreoanual.activities.NewDatosCoordenadasActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevoObsequioActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevoRecon18AniosActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.ListaMuestrasSuperficieCasoActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.estudios.appmovil.cohortefamilia.activities.enterdata.NuevaMuestrasSuperficieActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".cohortefamilia.activities.enterdata.NuevoTamizajeMxSuperficieActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".muestreoanual.activities.NewConFluUO1Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".influenzauo1.activities.MenuInfluenzaUO1Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".influenzauo1.activities.server.DownloadUO1Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".influenzauo1.activities.list.ListaParticipantesCasosUO1Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".influenzauo1.activities.list.ListaVisitasCasoUO1Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".influenzauo1.activities.enterdata.NuevaVisitaCasoUO1Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".influenzauo1.activities.MenuVisitaCasoUO1Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".influenzauo1.activities.list.ListaMuestrasParticipanteCasoUO1Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".influenzauo1.activities.enterdata.NuevaMuestraTuboPbmcUO1Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".influenzauo1.activities.enterdata.NuevaMuestraTuboRojoUO1Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".influenzauo1.activities.server.UploadAllUO1Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".influenzauo1.activities.list.ListaVisitasVacunaUO1Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".influenzauo1.activities.enterdata.NuevaVisitaVacunaUO1Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".influenzauo1.activities.list.ListaMuestrasVacunasUO1Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".influenzauo1.activities.list.ListaSintomasVisitaCasoUO1Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".influenzauo1.activities.enterdata.NuevoSintomaVisitaCasoUO1Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".cohortefamilia.activities.enterdata.NuevoSensorCasoActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".cohortefamilia.activities.enterdata.RetirarSensoresActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".cohortefamilia.activities.ListaSensoresCasoActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".cohortefamilia.activities.ListaPersonasCamasCuartosCasoActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.enterdata.NuevoConsCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.enterdata.NuevaVisitaSeguimientoCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.enterdata.NuevaVisitaFallidaCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.enterdata.NuevaMuestraTuboPbmcCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.enterdata.NuevaMuestraTuboRojoCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.enterdata.NuevoTamizajeTransmisionCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.enterdata.NuevaMuestraRespCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.enterdata.NuevoSintomasVisitaCasoCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.enterdata.NuevoDAislamientoVisitaCasoCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.enterdata.NuevaMuestraTuboBhcCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.MenuCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.MenuVisitaCasoCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.list.ListaCasasCasosCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.list.ListaParticipantesCasoCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.list.ListaParticipantesPosCasoCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.list.ListaVisitasParticipanteCasoCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.list.ListaVisitasFallidasCasoCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.list.ListaMuestrasParticipanteCasoCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.list.ListaCanditatosTransmisionCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.list.ListaSintomasVisitaCasoCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.server.DownloadCasosCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.server.UploadAllCasosCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".bluetooth.activity.ChatCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.list.ListaVisitasFinalesCasoCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.MenuVisitaFinalCasoCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.enterdata.NuevaVisitaFinalCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.enterdata.NuevoSintomasVisitaFinalCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.enterdata.NuevoCuestionarioCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.enterdata.NuevoConsCHFParteECovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".covid19.activities.enterdata.NuevaMuestraAdicRojoCovid19Activity"
                  android:screenOrientation="portrait" />
        <activity android:name=".muestreoanual.activities.NuevoConsDENParteEActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".muestreoanual.activities.NuevaMuestraAdicRojoDenActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".muestreoanual.activities.ParticipantPhotographActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".update.DescargarApkActivity"
                  android:screenOrientation="portrait" />
    </application>

</manifest>